rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user_devices/{document=**} {
      allow read, write: if true;
    }
  }
}